.auto-complete-container {
  min-width: 300px;
  max-height: 400px;
  margin-top: 4px;
  overflow-y: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(27,31,35,0.3);

  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    li {
      padding: 5px 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        min-width: 30px;
        min-height: 30px;
        max-height: 30px;
      }

      .text {
        flex-grow: 1;
        padding-left: 10px;
      }

      &.focus {
        background-color: #eee;
      }

      &.is-in-history {
        color: #609;
        font-weight: bold;
      }

      &:first-child {
        padding-top: 10px;
      }

      &:last-child {
        padding-bottom: 10px;
      }
    }
  }
}
